.projects {
    height: 100vh;
}

.projects__wrapper {
    background-color: #fff;
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: slideDown 1s ease;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__wrapper__loading {
    animation: rotate 2s infinite linear;
    font-size: larger;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}